html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303134;
  color: #fefefa;
  filter: drop-shadow(0 0 0.4rem #fefefa);
}

#login-container {
  box-sizing: border-box;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input {
  margin-bottom: 30px;
}

.input input {
  position: relative;
  width: 260px;
  height: 30px;
  padding: 4px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  transition: filter 0.25s linear;
  color: white;
  box-shadow: 2px 2px 1px 2px white;
}

.input input::placeholder {
  font-size: 12px;
  font-weight: bold;
  opacity: 50%;
  color: white;
}

.input input:hover:not(.input input:focus) {
  filter: drop-shadow(0 0 0.2rem white);
}

#submit-btn {
  width: 250px;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  filter: blur(0.5px);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s linear;
}

#submit-btn:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
  filter: blur(0.85px);
}

.btn {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}

.btn::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: "Raleway";
  font-size: 2.5rem;
}
.submit-btn-container {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.submit-btn-container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055);
  border-radius: caslc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
